.intro {
  background-image: url(background2.jpg);
  width: 960px;
  border: 15px solid pink;
  padding: 50px;
  margin: 20px;
  text-align: center;
  }
.about me {
 background-color:pink;
 text-align:left ;
 width: 960px;
 padding: 50px;
 margin: 20px;
 font-family: monospace;
}
.image {
  float:right;
}
.education }
width: 500px;
padding: 50px;
margin: 20px;
width: 300px;
border: 15px solid green;
padding: 50px;
margin: 20px;
white-space: pre;
}
.image {
  float: right;
}
.work {
white-space: pre;
}
.why{
white-space: pre;
}
.hobbies{
white-space: pre;
}
.Do{
white-space: pre;
width: 300px;
padding: 50px;
margin: 20px;
}
